<!-- <app-header></app-header> -->
<!-- <app-footer></app-footer> -->
<h3 style="background-color: rgb(131, 226, 226);">Routing Practice</h3>
<div class="container mt-10">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/travel">Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hotel">Hotel</a>
        </li>
      </ul>
</div>

<router-outlet></router-outlet>